<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.StudentMapper">
  <select id="list" resultType="StdDTO">
    <![CDATA[ 
    select student_no, student_name, concat(left(student_ssn,8),'******') as 'student_ssn', 
    if(char_length(student_address) > 10, concat(left(student_address,10),'...'),student_address) as 'student_address', 
    date_format(entrance_date,'%Y/%m/%d') as 'entrance_date', 
    absence_yn from tb_student
    ]]>
  </select>
  
  <select id="listByName" resultType="StdDTO" parameterType="StdDTO">
    select student_no, student_name, concat(left(student_ssn,8),'******') as 'student_ssn',
    if(student_address is not null, if(char_length(student_address) > 10, concat(left(student_address,10),'...'),student_address), ' ***주소 미상*** ') as 'student_address', 
    date_format(entrance_date,'%Y/%m/%d') as 'entrance_date', absence_yn from tb_student
    where student_name like CONCAT('%', #{student_name}, '%')
  </select>
  
  <select id="listByEntranceDate" resultType="StdDTO" parameterType="hashmap">
    select student_no, student_name, concat(left(student_ssn,8),'******') as 'student_ssn', 
    if(student_address is not null, if(char_length(student_address) > 10, concat(left(student_address,10),'...'),student_address), ' ***주소 미상*** ') as 'student_address', 
    date_format(entrance_date,'%Y/%m/%d') as 'entrance_date', absence_yn 
    from tb_student
    where entrance_date between CONCAT(#{x}, '-01-01') and CONCAT(#{y},'-12-31') order by entrance_date desc
  </select>  
  
  <select id="listByNoDynamic" resultType="StdDTO" parameterType="list">
  	select student_no, student_name, concat(left(student_ssn,8),'******') as 'student_ssn', 
  	if(student_address is not null, if(char_length(student_address) > 10, concat(left(student_address,10),'...'),student_address), ' ***주소 미상*** ') as 'student_address',
  	date_format(entrance_date,'%Y/%m/%d') as 'entrance_date', absence_yn 
  	from tb_student
  	<where>
  	  <foreach item="student_no" open="student_no in (" separator="," close=")" collection="list">
  	    #{student_no}
  	  </foreach>
  	</where>
  </select>
  
  <update id="updateAbsenceByNo">
  	update tb_student set absence_yn='y'
  	<where>
  	  <foreach item="student_no" open="student_no in (" separator="," close=")" collection="list">
  	    #{student_no}
  	  </foreach>
  	</where>
  </update>
  
  <update id="updateDeptCapacity">
    UPDATE tb_department SET capacity = capacity + ( CASE 
      WHEN capacity BETWEEN 0 AND 20 THEN 5
      WHEN capacity BETWEEN 21 AND 25 THEN 4
      WHEN capacity BETWEEN 26 AND 30 THEN 3
      ELSE 0 END )
      WHERE capacity BETWEEN 0 AND 30
  </update>
  
  <resultMap id="studentGradeMap" type="StdJoin">
    <id property="student_no" column="student_no" />
    <result property="student_name" column="student_name" />
    <collection property="gradeList" ofType="GradeDTO">
      <result property="term_no" column="term_no" />
      <result property="point" column="point" />
      <result property="grade" column="grade" />
      <association property="classDto" javaType="ClassDTO">
        <result property="class_name" column="class_name" />
      </association>
    </collection>
  </resultMap>
  
  <select id="listWithGrade" resultMap="studentGradeMap" parameterType="StudentDTO">
    <![CDATA[ 
    select term_no, student_no, student_name, class_name, point, 
    		case 
    		when point between 0 and 1.9 then 'F학점' 
    		when point between 2.0 and 2.9 then 'D학점' 
    		when point between 3.0 and 3.4 then 'C학점' 
    		when point between 3.5 and 3.9 then 'B학점' 
    		when point >= 4.0 then 'A학점' end as 'grade'
    from tb_student join tb_grade using(student_no) 
    	join tb_class using(class_no)
    where student_no = #{student_no}
   ]]>
  </select>
  
  <select id="totalCount" resultType="int">
    select count(*) from tb_student
 </select>
  
</mapper>