<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.EmpMapper">
  <insert id="insertDynamic" parameterType="arraylist">
    insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno )
	<foreach item="dto" open="values " separator="," collection="list"> 
      (#{dto.empno}, #{dto.ename}, #{dto.job}, #{dto.mgr}, now(), #{dto.sal}, #{dto.comm}, #{dto.deptno} )
	</foreach>
  </insert>
  
  <delete id="deleteEmpnoDynamic" parameterType="arraylist">
    delete from emp
    <where>
	  <foreach item="empno" open="empno In(" separator="," close=")" collection="list"> 
        #{empno}
      </foreach>
    </where> 
  </delete>
  
  <select id="selectNameDynaic" resultType="EmpDTO" parameterType="list">
    select empno, ename, sal from emp
    <where>
      <foreach item="ename" open="ename In(" separator=","
        close=")" collection="list">
        #{ename}
      </foreach>
    </where>
  </select>
  
  <select id="selectIf" resultType="EmpDTO" parameterType="EmpDTO">
    select empno, ename, sal, job from emp
    <where>
      <if test="job != null">
        job = #{job}
      </if>
    </where>
  </select>
  
  <select id="selectIf2" resultType="EmpDTO" parameterType="EmpDTO">
    select empno, ename, sal, job from emp
    <where>
      <if test="job != null">
        job = #{job} 
      </if>
      <if test="sal != 0">
        <![CDATA[ 
        AND sal > #{sal} 
        ]]>
      </if>
    </where>
  </select>
  
  <update id="updateIf" parameterType="EmpDTO">
	update emp
	<set>
	  mgr=#{mgr},
	  <if test="sal != 0">
	    sal = #{sal},
  	</if>
  	<if test="ename != null">
	    ename = #{ename},
	  </if>
	</set>
	<where>
	  empno = #{empno}
	</where>
  </update>
  
  <select id="selectChoose" resultType="EmpDTO" parameterType="EmpDTO">
  select empno, ename, sal, job from emp
  <where>
    <choose>
        <when test="job =='salesman'">
          <![CDATA[sal > 1500]]>
        </when>
        <when test="job =='clerk'">
          <![CDATA[sal > 2500]]>
        </when>
        <otherwise>
          <![CDATA[sal > 3000]]>
        </otherwise>
      </choose>
    </where>
  </select>
  
  <select id="singleColumn" resultType="int">
  	select count(*) from emp
  </select>
  
  <select id="orderedSelect" resultType="EmpDTO">
    select * from emp order by empno desc
  </select>
  
  <!--//////////////////////////////////////////////-->
  
  <resultMap id="userResultMap" type="Emp">
    <id property="empno" column="empno"/>
    <result property="username" column="ename" />
    <result property="job" column="job" />
    <result property="mgr" column="mgr" />
    <result property="hiredate" column="hiredate" />
    <result property="salary" column="sal" />
    <result property="commission" column="comm" />
    <result property="deptno" column="deptno" />
  </resultMap>
  
  <select id="findAll" resultType="Emp">
    select empno, ename, job, mgr, hiredate, sal, comm, deptno
    from emp order by empno desc;
  </select>
  
  <select id="findAllToMap" resultMap="userResultMap">
    select empno, ename, job, mgr, hiredate, sal, comm, deptno
    from emp order by empno desc;
  </select>
  <!--//////////////////////////////////////////////-->
  
  <resultMap id="empdeptJoinMap" type="EmpJOIN">
    <id property="empno" column="empno" />
    <result property="ename" column="ename" />
    <result property="job" column="job" />
    <result property="mgr" column="mgr" />
    <result property="hiredate" column="hiredate" />
    <result property="sal" column="sal" />
    <result property="comm" column="comm" />
    <!-- Dept와 조인된 결과값을 저장하는 방법 -->
    <association property="dto" javaType="DeptDTO">
      <!-- property는 EmpJoin 내부의 변수명 javaType은
           해당 변수의 class를 의미한다.  -->
      <result property="deptno" column="xxx" />
      <result property="dname" column="yyy" />
      <result property="loc" column="zzz" />
    </association>
  </resultMap>
  
  <select id="empdeptJoin" resultMap="empdeptJoinMap">
    select empno, ename, job, mgr, hiredate, 
           sal, comm,
           dept.deptno as xxx,
           dept.dname as yyy,
           dept.loc as zzz
    from emp join dept on emp.deptno = dept.deptno
    order by empno desc
  </select>
  <!-- //////////////////////////////////////////////////// -->
  
</mapper>